<nav class="navbar navbar-expand-lg navbar-dark custom">
    <div class="container-fluid">
      <a class="navbar-brand custom-icon" [routerLink]="['/inicio']" routerLinkActive="router-link-active" >
        <img src="/assets/favicon/favicon-32x32.png" alt="" width="32" height="32">
      </a>
      <div class="d-flex">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
        </button>
      </div>
      <div class="d-flex">
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li *ngIf="!isLogged"  class="nav-item">
              <a class="font-custom  nav-link active" aria-current="page" [routerLink]="['/peliculas']" routerLinkActive="active-header"  >Peliculas</a>
            </li>
            <li *ngIf="!isLogged"  class="nav-item">
              <a class="font-custom  nav-link"   [routerLink]="['/series']" routerLinkActive="active-header" >Series</a>
            </li>
            
            <li *ngIf="isLogged" class="nav-item">
              <a class="font-custom nav-link"  [routerLink]="['/dashboard']" routerLinkActive="active-header">Dashboard <span class="icon"></span></a>
            </li>
            <li *ngIf="isLogged" class="nav-item">
              <a class="font-custom nav-link"  [routerLink]="['/agregarfav']" routerLinkActive="active-header">Agregar <span class="icon"></span></a>
            </li>
            <li *ngIf="!isLogged" class="nav-item">
              <a class="font-custom nav-link"  [routerLink]="['/ingresar']"routerLinkActive="active-header">Ingresar <span class="icon"><i class="fa fa-sign-in"></i></span></a>
            </li>
            <li *ngIf="isLogged" class="nav-item">
              <a class="font-custom nav-link" (click)="salir()" [routerLink]="['/inicio']" routerLinkActive="active-header">Salir <span class="icon"><i class="fa fa-sign-out"></i></span></a>
            </li>
          </ul>
        </div>
            </div>
    </div>
  </nav>
