.custom{
    background-color: #121829;
    height: 80px;
    
}
a:hover, a:active{
    color: rgb(219, 11, 11);
}
.font-custom{
    color:#A8AEBF !important; 
    font-size:16px !important;
      
}
.test{
    background-color: white !important;
}
.active-header{
color: white  !important;

}