.button-container{
    height: 56px!important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(80px);
    margin-top: 7vh;
    border-radius: 12px;        
    width: 387px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-button{
    height: 40px!important;
    width: 115px;
    padding: 8px 32px;
    font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* Grey/300 */

color: #8E95A9;
    background: #7c6ef600;
    border-radius: 8px;
    border: none;

}

.btn:focus{
    background-color: #7B6EF6 !important;
    color:#EBE9FE;
    border: none;

}

