
    <div class="button-container" role="group" aria-label="Basic example">
        <button type="button" class="btn custom-button left ">Todos</button>
        <button type="button" class="btn custom-button">Películas</button>
        <button type="button" class="btn custom-button">Series</button>
    </div>
