<footer class="custom pt-3 mt-4">
  <div class="container ">
    <div class="row">
      <div class="col-md-12 ">
        <div class="d-flex justify-content-center">
          <a class="li-ic"  target="_blank" href="https://www.linkedin.com/in/santiago-garc%C3%A9s/">
            <i class="fa fa-linkedin fa-lg text-light mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="ins-ic" target="_blank" href="https://instagram.com/garces_santi">
            <i class="fa fa-instagram fa-lg text-light mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
        <p class="footer-copyright text-center text-light py-3">© 2022 Copyright: Santiago Garcés</p>
      </div>
    </div>
  </div>
 
</footer>
