.title{
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 80px;
color: #EBEEF5;
}
.container-custom{
    padding-top: 8vh !important;
    padding-left: 8vw !important;
    padding-right: 8vw !important;
}
.altura{
    height: 75vh;
}
