<app-header></app-header>
<div *ngIf="!isload" class="d-flex justify-content-center align-items-center altura">
    <div class="spinner-grow text-primary " role="status">
        <span class="visually-hidden"></span>
    </div>
</div>
<div  *ngIf="isload" class="container-custom">
    <p class="title">Agregar nuevo item</p>
    <div class="row">
        <div *ngFor="let item of FilterMovies">
          <div *ngIf="item.media_type!='person'">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
              <app-cards [movie]="item" [type]="item.media_type" [Sectiofav]="true" [fav]="item.fav"></app-cards>
            </div>
          </div>
        </div>
      </div>
</div>

