
<div class="cover-container" >
    <img class="img-custom" src={{image}}  alt="Card image cap">
    <div class="raiting">
        <div class="bread-cumbs">
            <p [routerLink]="['/inicio']">PelisUP!</p>
            <p>/</p>
            <p [routerLink]="['/peliculas']">Películas</p>
        </div> 
        <p class="main-title">{{title}}</p> 
    </div>
    <section class="contenedor-title">
    </section>
</div>