
.cover-container{
  cursor: pointer;
  width:1200px;
  height: 480px;
  padding: 8px 8px 16px;
  left: 0px;
  top: 0px;
  backdrop-filter: blur(80px);
  margin:8px !important
  
}
.custom-title{
font-weight: 600;
position: absolute;
font-size: 32px;
line-height: 40px;
letter-spacing: -0.02em;
color: #767E94;
}
.img-custom{
  width:1200px;
  height: 480px;
  border-radius: 40px;
  
}

.custom-card{
  color:#EBEEF5;
  margin-top: 20px;
  Size :16px;
  Line-height :24px;

}
.raiting{
  position: absolute;
  top:430px;
  left: 75px;
  padding: 8px 8px;
  width: 560px;
  height: 144px;
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(24px);
  border-radius: 24px;
  /* border-radius: 8px; */
  /* color: #FFAD49; */
  font-size: 16px;
  line-height: 24px;
  
}
.main-title{
margin-top:-10px;
margin-left:40px;
font-weight: 600;
font-size: 32px;
line-height: 40px;
align-items: center;
color: #EBEEF5;
}
:hover.tarjeta{
  -webkit-transform:scale(1.02); /* Safari and Chrome */
  -moz-transform:scale(1.5); /* Firefox */
  -ms-transform:scale(1.5); /* IE 9 */
  -o-transform:scale(1.5); /* Opera */
   transform:scale(1.02);
   border: solid 2px #93a2ad !important ;
}
.bread-cumbs{
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #BEB7FB;
  margin-top: 20px;
  margin-left:40px;
}

  