.card-title{
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #767E94;
}
.container-custom{
    padding-left: 8vw !important;
    padding-right: 8vw !important;
}
.button-container{
    height: 56px!important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(80px);
    margin-top: 7vh;
    border-radius: 12px;        
    width: 387px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-button{
    height: 40px!important;
    width: 115px;
    padding: 8px 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #8E95A9;
    background: #7c6ef600;
    border-radius: 8px;
    border: none;

}

.selected{
    background-color: #7B6EF6 !important;
    color:#EBE9FE;
    border: none;

}
.container-1{
    width: 364px;
    /* height: 64px; */
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
  }
  .box{
     margin-top:5vh;
  }
.container-1 input#search{
    cursor: pointer;
    width: 364px;
    height: 64px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #323B54;
    box-sizing: border-box;
    border-radius: 120%;
    font-size: 10pt;
    color: #475069;
    font-size: 14px;
    line-height: 16px;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
  }
.container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
 
 .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
 
 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
 
 .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }
 .container-1 .icon{
    position: absolute;
    top: 30%;
    margin-left: 17px;
    z-index: 1;
    color: #4f5b66;
  }
  .container-1:hover .icon{
    color: #93a2ad;
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
    }
    .container-1:hover .search-box{
        border: solid 2px #93a2ad !important ;
    }