<app-header></app-header>
<div class="container-custom">
  <app-page-title title="PelisUP!" subtitle="Plataforma para ver películas y series 😉"></app-page-title>
  <div class="box ">
    <div class="container-1">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input class="search-box" type="search" id="search" [(ngModel)]="value" placeholder="Buscar películas y series"
        (ngModelChange)="search()" />
    </div>
  </div>
  <br>
  <div class="button-container" role="group">
    <button type="button" class="btn custom-button" [ngClass]="{'selected': type === 'todos'}" #todos
      (click)="filter('todos')">Todos</button>
    <button type="button" class="btn custom-button" [ngClass]="{'selected': type === 'movie'}"
      (click)="filter('movie')">Películas</button>
    <button type="button" class="btn custom-button" [ngClass]="{'selected': type === 'tv'}"
      (click)="filter('tv')">Series</button>
  </div>
  <br>
  <p class="card-title">{{tipo  | titlecase}}({{cant}})</p>
  <div class="row">
    <div *ngFor="let item of FilterMovies">
      <div *ngIf="item.media_type!='person'">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
          <app-cards [movie]="item" [type]="item.media_type"></app-cards>
        </div>
      </div>
    </div>
  </div>
</div>
