.tarjeta{
    cursor: pointer;
    width: 282px;
    height: 480px;
    padding: 8px 8px 16px;
    left: 0px;
    top: 0px;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(80px);
    border-radius: 12px;  
    margin:8px !important
    
}
.custom-title{
font-weight: 600;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

letter-spacing: -0.02em;

/* Grey/400 */

color: #767E94;
}
.img-custom{
    Width :266px;
    Height :400px;
    
}

.custom-card{
    color:#EBEEF5;
    margin-top: 20px;
    Size :16px;
    Line-height :24px;

}
.raiting{
    position: absolute;
    top:18px;
    left: 16px;
    padding: 8px 8px;
    width: 61px;
    height: 40px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    color: #FFAD49;
    font-size: 16px;
    line-height: 24px;
    
}
.big-tarjeta{
    height: 520px;
}
:hover.tarjeta{
    -webkit-transform:scale(1.02); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.02);
     border: solid 2px #93a2ad !important ;
}
:hover.add{
    
    color: #877bf8;
}
:hover.del{
  
    color:#faac4c
}
.plus{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #7B6EF6;
    /* opacity: 75%; */
}
.minus{
    /* opacity: 75%; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFBD6D;
    }