
<div *ngIf="type=='movie'; else serie" class="tarjeta" [ngClass]="{'big-tarjeta': Sectiofav === true}" r>
   
    <img class="img-custom" src={{imageBase}}{{movie.poster_path}} routerLink="/detalle/{{movie.id}}/movie"  alt="Card image cap">
    <p *ngIf="movie.title" class="custom-card" routerLink="/detalle/{{movie.id}}/movie" >{{movie.title}}</p>
    <p *ngIf="!movie.title" class="custom-card" routerLink="/detalle/{{movie.id}}/movie" >{{movie.name}}</p>
    <p class="raiting" routerLink="/detalle/{{movie.id}}/movie" ><span class="icon mr-2"><i class="fa fa-star"></i></span>{{movie.vote_average}}</p>
    <div *ngIf="Sectiofav">
        <p  class="{{icon}}" (click)="add()" ><span class="icon"><i class="fa fa-{{icon}}"></i></span>{{Msg}}</p>
    </div>
</div>
<ng-template #serie>
    <div  class="tarjeta"  [ngClass]="{'big-tarjeta': Sectiofav === true}">
        <img class="img-custom" routerLink="/detalle/{{movie.id}}/serie" src={{imageBase}}{{movie.poster_path}}  alt="Card image cap">
        <p *ngIf="movie.name" routerLink="/detalle/{{movie.id}}/serie"class="custom-card">{{movie.name}}</p>
        <p class="raiting" routerLink="/detalle/{{movie.id}}/serie" ><span class="icon mr-2"><i class="fa fa-star"></i></span>{{movie.vote_average}}</p>
        <div *ngIf="Sectiofav">
            <p  class="{{icon}}" (click)="add()" ><span class="icon"><i class="fa fa-{{icon}}"></i></span>{{Msg}}</p>
        </div>
        
    </div>
</ng-template>


