<app-header></app-header>

<div class="container-custom">
    <form (ngSubmit)="ingresar()" #miFormulario="ngForm" autocomplete="off">
        <div class="row">
            <div class="g-col-2 "><img class="custom-image" src="assets\SRLogin.png" alt=""></div>
            <div class="g-col-10 form-container">
                <h1 class="title">Ingresar</h1>
                <div class="box ">
                    <div class="container-1">
                        <span class="icon"><i class="fa fa-envelope"></i></span>
                        <input [ngModel]="initForm.email"  type="Email"required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                        name="email" class="search-box" [ngClass]="{'error': ValidEmail || firebaseErr }" (ngModelChange)="emailvalido()" autocomplete="off"  id="mail"  placeholder="Email"/>
                        
                    </div>
                    <span class="form-text text-danger" *ngIf="ValidEmail">
                        Ingrese un Email valido
                      </span>
                </div>
                <div class="box ">
                    <div class="container-1">
                        <span class="icon"><i class="fa fa-key"></i></span>
                        <input class="search-box" [ngModel]="initForm.pass" minlength="8" required
                        name="pass" autocomplete="off" (ngModelChange)="passvalida()" [ngClass]="{'error': ValidPass || firebaseErr }" type="password" id="pass"  placeholder="Contraseña"/>
                    </div>
                </div>
                <span class="form-text text-danger" *ngIf="ValidPass">
                   minimo 8 caracteres
                  </span>
                <span class="form-text text-danger" *ngIf="firebaseErr">
                    Contraseña o email erroneos
                </span>
                <button type="submit" [disabled]="miFormulario.invalid" class="btn button-in">Ingresar</button>
                <button  [disabled]="miFormulario.invalid"  class="btn button-in" (click)="newUser()">Crear cuenta</button>
                <!-- <button type="submit" [disabled]="false" *ngIf="!ValidEmail && !ValidPass" class="btn button-in">Ingresar</button> -->
                <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" /> -->
                <!-- <div class="google-btn">
                <div class="google-icon-wrapper">
                    <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                </div>
                <p class="btn-text"><b>Sign up with google</b></p>
                </div> -->
            </div>
            
        </div>
    </form>
</div>
