.container-custom{
    padding-left: 15vw !important;
    padding-right: 15vw !important;
    padding-top: 8vh;
}
.custom-image{
    height: 500px !important;
}
.title{
width: 486px;
height: 80px;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 80px;
letter-spacing: -0.02em;
color: #C3C8D4;
margin-bottom: 70px !important;
}
.form-container{
    padding-left: 100px;
    width: 486px;
}
.inputs{
padding: 12px 16px;
top: 0%;
bottom: 0%;
background: rgba(0, 0, 0, 0.1);
border: 1px solid #323B54;
box-sizing: border-box;
border-radius: 12px;
}
.container-1{
width: 486px;
/* height: 64px; */
/* vertical-align: middle; */
/* white-space: nowrap; */
position: relative;
cursor: pointer;
}
.box{
    margin-top:5vh;
}
.container-1 input{
cursor: pointer;
width: 486px;
height: 64px;
background: rgba(0, 0, 0, 0.1);
border: 1px solid #323B54;
box-sizing: border-box;
border-radius: 120%;
font-size: 10pt;
color: #475069;
font-size: 14px;
margin-top: -20px;
padding-left: 45px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-webkit-transition: background .55s ease;
-moz-transition: background .55s ease;
-ms-transition: background .55s ease;
-o-transition: background .55s ease;
transition: background .55s ease;
}
.container-1 input::-webkit-input-placeholder {
color: #65737e;
}

.container-1 input:-moz-placeholder { /* Firefox 18- */
color: #65737e;  
}

.container-1 input::-moz-placeholder {  /* Firefox 19+ */
color: #65737e;  
}

.container-1 input:-ms-input-placeholder {  
color: #65737e;  
}
.container-1 .icon{
position: absolute;
top: 1%;
margin-left: 17px;
z-index: 1;
color: #4f5b66;
}
.container-1:hover .icon{
color: #93a2ad;
-webkit-transform:scale(1.5); /* Safari and Chrome */
-moz-transform:scale(1.5); /* Firefox */
-ms-transform:scale(1.5); /* IE 9 */
-o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
}
.container-1:hover .search-box{
    
}
.button-in{
    margin-top: 2vh;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
position: static;
width: 486px;
left: calc(50% - 486px/2);
top: 0%;
bottom: 0%;
background: #7B6EF6;
border: 2px solid #7B6EF6;
border-radius: 12px;
color: #FFFF;
}
.box{
    margin-top:5vh;
    }
.error{
    border: solid 2px rgba(255, 0, 0, 0.8) !important ;
    background-color:  rgba(195, 0, 0, 0.1) !important;
    /* border-color: red !important; */
}
/* $white: #fff;
$google-blue: ;
$button-active-blue: ; */

.google-btn {
  margin-top: 2vh;
  margin-left: 152px;
  width: 184px;
  height: 42px;
  background-color:#4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #FFFF;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  .google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  .google-btn:active {
    background: #1669F2;
  }


@import url(https://fonts.googleapis.com/css?family=Roboto:500);