.custom-toptitle{
    margin-top: 8vh;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 12px;
    color: #BEB7FB;
}
.custom-title{
 font-weight: 600;
 font-size:64px ;
 color:#EBEEF5;
}
.custom-subtitle{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8E95A9;
   }

