.container-custom{
    padding-left: 8vw !important;
    padding-right: 8vw !important;
    padding-top: 8vh;
    padding-bottom: 18vh;
}
.contenedor-img {
    display: flex;
    justify-content: center;
    /* background-color: aliceblue; */
  }
  .contenedor-body{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    /* background-color: bisque; */
    /* width:1200px; */
  }
  .imagenPoster{
    width: 480px;
    height: 720px;
    border-radius: 24px;
    /* margin-left:; */
  }
  .descrip-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.015em;
  color: #EBEEF5;
  }
  .second-column{
    /* background-color: red; */
    width: 480px;
    margin-left: 100px;
  }
  .description{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #8E95A9;
  }
  .raiting{
    position: absolute;
    top:18px;
    left: 16px;
    padding: 8px 8px;
    width: 61px;
    height: 40px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    color: #FFAD49;
    font-size: 16px;
    line-height: 24px;
    
}
.score{
  padding: 4px 4px;
  width: 59px;
  height: 32px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  color: #FFAD49;
  font-size: 16px;
  line-height: 24px;
  
}
.name{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #767E94;
}
.value{
font-weight: 400;
font-size: 20px;
line-height: 32px;
color: #C3C8D4;
margin-top: -15px;

}
.columna1{
  margin-left: 15px;
}
.columna2{
  margin-left: 40px;
}
  