<app-header></app-header>
<div class="container-custom">
  <div class="contenedor-img">
    <app-cover-image *ngIf="type=='movie'" [image]="imagenPortada" [title]="movie.title"></app-cover-image>
    <app-cover-image *ngIf="type!='movie'" [image]="imagenPortada" [title]="movie.name"></app-cover-image>
  </div>
  <div class="contenedor-body">
    <div class="row">
      <div class="g-col-6 ">
        <img class="imagenPoster" [src]="imagenPoster" alt="">
      </div>
      <div *ngIf="type=='movie'; else serie" class="g-col-6 second-column">
        <p *ngIf="movie.tagline; else titleAgain" class="descrip-title">{{movie.tagline}}</p>
        <ng-template #titleAgain>
          <p class="descrip-title">{{movie.title}}</p>
        </ng-template>
        <p class="description">{{movie.overview}}</p>
        <p class="score"><span class="icon mr-2"><i class="fa fa-star"></i></span>{{movie.vote_average}}</p>
        <p class="name"> Tipo</p>
        <p class="value">Movie </p>
        <p class="name">Fecha de estreno</p>
        <p class="value">{{movie.release_date}} </p>
        <p class="name">Duración</p>
        <p class="value">{{movie.runtime}} min </p>
        <p class="name">Genero</p>
        <p class="value">{{genero}} </p>
      </div>}
      <ng-template #serie>
        <div class="g-col-6 second-column">
          <p *ngIf="movie.tagline; else titleAgain" class="descrip-title">{{movie.tagline}}</p>
          <ng-template #titleAgain>
            <p class="descrip-title">{{movie.name}}</p>
          </ng-template>
          <p class="description">{{movie.overview}}</p>
          <p class="score"><span class="icon mr-2"><i class="fa fa-star"></i></span>{{movie.vote_average}}</p>
          <div class="row">
            <div class="g-col-6 columna1">
              <p class="name"> Tipo</p>
              <p class="value">Serie</p>
              <p class="name">primera vez en el aire</p>
              <p class="value">{{movie.first_air_date}} </p>
              <p class="name">Nro de temporadas</p>
              <p class="value">{{movie.number_of_seasons}} </p>
              <p class="name">Duración episodios</p>
              <p class="value">{{duracionEps }} min </p>
            </div>
            <div class="g-col columna2">
              <p class="name">Estado</p>
              <p class="value">{{movie.status}} </p>
              <p class="name">ultima vez en el aire</p>
              <p class="value">{{movie.last_air_date}} </p>
              <p class="name">Nro. de episodios</p>
              <p class="value">{{movie.number_of_episodes}} </p>

            </div>

          </div>
          <p class="name">Genero</p>
          <p class="value">{{genero}} </p>

        </div>
      </ng-template>

    </div>
  </div>

</div>
