.container-custom{
    display: flex;
    justify-content: center;
}
.hotspot{
width: 588px;
height: 152px;
margin: 24px;
background: #121829;
opacity: 0.8;
border-radius: 12px;

}
.title{
font-weight: 600;
font-size: 48px;
line-height: 56px;
letter-spacing: -0.02em;
color: #EBEEF5;
margin-left: 25px;
}
.margin{
    margin: 80px;
}
.cantidad{
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 40px;
color: #EBEEF5;
padding-top:40px;

}
.subtitle{
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #767E94;
}
:hover.hotspot{
    cursor: pointer;
    -webkit-transform:scale(1.02); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.02);
    border: solid 2px #93a2ad !important ;
}
.altura{
    height: 35vh;
}