<app-header></app-header>
<div *ngIf="!isLoad" class="d-flex justify-content-center align-items-center altura">
    <div class="spinner-grow text-primary " role="status">
        <span class="visually-hidden"></span>
    </div>
</div>
    <br><br><br>
<div *ngIf="isLoad"  class="row container-custom">
    <div class="g-col-6">
        <p class="title">Bienvenido</p>
    <section routerLink="/moviesFav" class=" hotspot ">
        <div class="d-flex justify-content-center">
            <p class="cantidad">{{cantMovies}}</p>
        </div>
        <div class="d-flex justify-content-center">
            <p class="subtitle">Películas</p>
        </div>
    </section>
    </div>
    <div class="g-col-6">   
    <section routerLink="/seriesFav"  class=" hotspot margin ">
        <div  class="d-flex justify-content-center">
            <p class="cantidad">{{cantSeries}}</p>
        </div>
        <div class="d-flex justify-content-center">
            <p class="subtitle">Series</p>
        </div>
    </section>
    </div>
  </div>
