<app-header></app-header>
<div class="container-custom">
    <app-page-title toptitle="PelisUP!" title="Series"></app-page-title>
    
 <div class="box ">
    <div class="container-1">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input class="search-box"type="search" id="search" [(ngModel)]="value" placeholder="Buscar películas y series" (ngModelChange)="search()"  placeholder="Buscar Series" />
    </div>
  </div>

    <br> 
    <p  class="card-title">{{cant}} items</p>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" *ngFor="let item of FilterMovies">
            <app-cards [movie]="item"></app-cards>
        </div>
    </div>
</div>