/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(25,26,64);
    background: radial-gradient(circle, rgba(25,26,64,1) 0%, rgba(16,36,57,1) 47%, rgba(18,24,41,1) 85%); 
}